{% extends "auctions/layout.html" %}

{% block body %}
<h1>{{ detailed_item.item.title }}</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <img src="{{ detailed_item.item.img_url }}" width="400px" height="400px" alt="{{ detailed_item.item.title }}">
                    </div>
                    <div class="col-5 description">
                        <p>{{ detailed_item.item.description }}</p>
                        <h2>${{ detailed_item.bid_value }}</h2>
                        {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}

                        {% if detailed_item.open %}
                        {% if user.is_authenticated %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="number" step="0.01" name="bid" placeholder="Bid" >
                            <input name="submit" type="submit" value="Bid">
                        </form>

                        <form action="{% url "watch_list" %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="item" value="{{detailed_item.item.title}}">
                            {% if in_watch_list %}
                            <input type="hidden" name="action" value="remove">
                            <input type="submit" value="Remove from Watch List">
                            {% else %}
                            <input type="hidden" name="action" value="add">
                            <input name="submit" type="submit" value="Add to Watch List">
                            {% endif %}
                            
                        </form>
                        {% else %}
                        <span><a href="{% url "login" %}">Sign in</a> or <a href="{% url "register" %}">Register</a> to bid</span>
                        {% endif %}
                        {% if detailed_item.creator.username == user.username %}
                        {% if detailed_item.open %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" value="close">
                            <input name="submit" type="submit" value="Close Auction">
                        </form>
                        {% endif %}
                        {% endif %}
                        {% endif %}

                        {% if not detailed_item.open %}
                        This auction is closed and the winner is {{detailed_item.winner}}
                        {% endif %}

                        
                        
                    </div>
                </div>
            </div>

            <h2>Comments</h2>
            <div class="container">
                {% if comments %}
                {% for comment in comments %}
                <div class="row">
                    <div class="col-12">
                        <h4>{{ comment.person.username }}</h4>
                        <p>{{ comment.comment }}</p>
                    </div>
                </div>
                {% endfor %}

                {% else %}
                <h4>No comments yet</h4>
                {% endif %}

                {% if user.is_authenticated %}
                <h3>Leave a Comment</h3>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="person" value="{{user.username}}">
                    <textarea name="comment" cols="30" rows="3"></textarea><br>
                    <input name="submit" type="submit" value="Send Comment">
                </form>
                {% else %}
                <span><a href="{% url "login" %}">Sign in</a> or <a href="{% url "register" %}">Register</a> to comment</span>
                {% endif %}
            </div>
{% endblock body %}

